json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ed0301aa-6f11-4df1-9251-37329eaa32a0",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        48
      ],
      "webhookId": "REDACTED_WEBHOOK"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $json.message.chat.id }}"
            },
            {
              "name": "mensaje",
              "stringValue": "={{ $json.message.text || $json.message.voice?.file_id || 'sin_texto_ni_audio' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "573feaef-963a-4a76-8b88-0668658ae930",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -256,
        48
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "text": "={{ $json.mensaje }}\t",
        "options": {}
      },
      "id": "a02123a6-840a-49bd-abfd-7f63ed676f0e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        880,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\r?\\n|\\r/g, ' ')\n    .replace(/\\t+/g, ' ')\n    .replace(/[^\\p{L}\\p{N},.¿?:?\\s]+/gu, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});"
      },
      "id": "b9b1a46d-a0bc-41d3-bfff-857a57333e50",
      "name": "Clean Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Edit Fields\"].json[\"chat_id\"] }}\n",
        "text": "={{ $json.cleaned }}",
        "additionalFields": {}
      },
      "id": "b7114ed6-09a5-42c5-ae13-356b8d5b9be0",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1696,
        48
      ],
      "webhookId": "REDACTED_WEBHOOK"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        400
      ],
      "id": "cbc0aaf3-3ba8-49be-aff3-e684dcb54061",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        416,
        -112
      ],
      "id": "665b2131-53c1-41bd-bab9-835c860db62c",
      "name": "Transcribir audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_ID",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        48
      ],
      "id": "357c9d54-988e-4681-b293-c4d0c9ab2256",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}\t"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        400
      ],
      "id": "5cc2fdab-db17-43e7-97ee-7ec0dac8f9d7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ai.nbow.d@gmail.com",
          "mode": "list",
          "cachedResultName": "ai.nbow.d@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        976,
        400
      ],
      "id": "52b3184e-4413-45ab-accc-e50c8c3f7a4d",
      "name": "Crear evento"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ai.nbow.d@gmail.com",
          "mode": "list",
          "cachedResultName": "ai.nbow.d@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        400
      ],
      "id": "f7d0a48f-a246-4e42-8212-0c1b007156a1",
      "name": "Eliminar evento"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ai.nbow.d@gmail.com",
          "mode": "list",
          "cachedResultName": "ai.nbow.d@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1120,
        400
      ],
      "id": "c5aabc21-c6f8-40e8-a4aa-ad68e3a33efd",
      "name": "Actualizar evento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ai.nbow.d@gmail.com",
          "mode": "list",
          "cachedResultName": "ai.nbow.d@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1248,
        400
      ],
      "id": "0cbc2ee9-62e8-4e5e-98c4-fa2c22c5b602",
      "name": "Comprobar disponibilidad"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text ? 'texto' : $json.message.voice ? 'audio' : 'otro' }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "REDACTED_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "REDACTED_ID",
                    "leftValue": "={{ $json.message.text ? 'texto' : $json.message.voice ? 'audio' : 'otro' }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "REDACTED_ID",
                    "leftValue": "={{ $json.message.text ? 'texto' : $json.message.voice ? 'audio' : 'otro' }}",
                    "rightValue": "otro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No soportado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        48
      ],
      "id": "dc32b49f-a4c3-4953-8f32-d04d026d3fa8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -112
      ],
      "id": "c8c92504-ada0-4e88-bc8a-66850de3362c",
      "name": "Get a file",
      "webhookId": "REDACTED_WEBHOOK"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Text": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b84fe777aed6c9038b96b5da460fd5e54eb0f8f00de9a5ec320c6aae0e90a18"
  }
}
